<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appsnova.com.doorstephub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utilities.VolleySingleton"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <activity android:name=".activities.vendor.WalletActivity"></activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_5Pt5TsAeyZpFiP" />

        <activity android:name=".activities.vendor.CompletedBilingFormActivity"></activity>
        <activity
            android:name=".activities.Vendor_MerchantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TermsConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="My Profile" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ThankYouPage" />
        <activity
            android:name=".activities.ServiceSelectionActivity"
            android:label="Select Sub Service"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.MyBookingsActivity"
            android:label="Your Orders"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="Select Service"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ServiceScheduleActivity"
            android:label="Personal Details"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.MyBookingsResultActivity"
            android:label="Order Data"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" /> <!-- VENDOR ACTIVITIES -->
        <activity
            android:name=".activities.vendor.MainActivityVendor"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.vendor.VendorHomeActivity"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.vendor.VendorMyProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.vendor.ServicePartnersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.vendor.MyBookingsVendorActivity"
            android:label="Bookings"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.vendor.MyBookingsResultVendorActivity"
            android:label="Booking result"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".activities.vendor.AboutUsVendorActivity"
            android:label="About Us"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar" />
    </application>

</manifest>